body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

a {
    color: #bf6060;
    transition: color 0.3s;
}

    a:hover,
    a:focus {
        color: #7f4040;
        text-decoration: none;
    }

    #intro {
        display: table;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        background-size: cover;
    }

    .intro-body {
        display: table-cell;
        vertical-align: middle;
        padding: 75px 0 40px 0;
    }

    .intro-body h1 > a {
        color: #fff;
        font-size: 60px;
        font-weight: 300;
        padding: 25px 45px;
        margin-bottom: 30px;
        text-transform: uppercase;
        border: 2px solid #fff;
        border-radius: 50%;
        transition: all 0.3s;
    }

    .intro-body h1 > a:hover {
        color: #ffc0c0;
        border: 2px solid #ffc0c0;
    }

    .intro-body h2 {
        font-size: 46px;
        font-weight: 100;
        margin-top: 30px;
        letter-spacing: 2px;
    }

    .intro-body p {
        margin: 40px 0 10px 0;
        padding: 0 320px;
        font-size: 22px;
        line-height: 36px;
    }

    .timer {
        margin-top: 60px;
    }

    .timer .time-wrapper {
        display: inline-block;
        width: 150px;
        height: 150px;
        margin: 0 10px;
        padding-top: 5px;
        border: 1px solid #fff;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.3s;
    }

    .timer .time-wrapper:hover {
        background: #bf6060;
        border: 1px solid #bf6060;
        transition: all 0.3s;
    }

    .timer .days,
    .timer .hours,
    .timer .minutes,
    .timer .seconds {
        font-size: 80px;
        font-weight: 100;
        line-height: 90px;
    }

@media (min-width: 980px) and (max-width: 1200px) {
    .intro-body p {
        padding: 0 120px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .intro-body p {
        padding: 0;
    }

    .timer .days,
    .timer .hours,
    .timer .minutes,
    .timer .seconds {
        font-size: 60px;
        line-height: 70px;
    }
}

@media (max-width: 767px) {
    .intro-body h2 {
        font-size: 36px;
    }

    .intro-body p {
        padding: 0;
    }

    .timer .time-wrapper {
        width: 120px;
        height: 120px;
        margin: 7px;
        padding-top: 5px;
    }

    .timer .days,
    .timer .hours,
    .timer .minutes,
    .timer .seconds {
        font-size: 60px;
        line-height: 70px;
    }
}

@media (max-width: 400px) {
    .intro-body h1 > a {
        font-size: 40px;
        padding: 10px 25px;
    }
}